body {
    background-color: #185680 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.form-box {
    justify-content: left ;
    margin: 85px ;

    text-align: center ;

    background-color: #fcfcfc ;
    box-shadow: 2px 2px 15px rgb(23, 45, 33) ;

    height: 480px ;
    width: 400px ;
}

.form-title {
    padding: 20px 50px ;
}

input {
    display: block ;
    margin: 15px auto ;

    height: 45px ;
    width: 350px ;

    text-align: center ;

    border-radius: 20px ;

    font-size: 18px ;
    font-weight: bold ;
}

.form-buttons {
    margin-top: 40px ;
}

#login-button {
    cursor: pointer ;

    color: #fcfcfc ;
    background-color: #185680 ;
}

#create-new-account-button {
    text-decoration: none ;

    font-size: 18px ;
    font-weight: bold ;

    color: #185680 ;
}